
/*colores*/
$bg: rgb(231,251,190);
$bg-color-1: radial-gradient(circle, rgba(231,251,190,1) 23%, rgba(248,228,240,1) 65%);
$bg-color-2:
radial-gradient(circle, rgba(231,251,190,1) 23%, rgba(248,228,240,1) 65%);
$bg-color-footer: violet;
$color-text-light: whitesmoke;
$color-text-dark: black;
  

/*Font*/

    @import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:ital,wght@0,100;0,700;1,400&display=swap');

    $font-tex: 'Roboto', sans-serif;
    $nav-font: "Luckiest Guy", cursive;
    $font-bold: 700;
    $font-regular: 400;
    $font-thin: 100;
